@model app_adocao.Models.Requerente

@{
    ViewData["Title"] = "Details";
}

<h2>Perfil de Adotante de Pet(s)</h2>

<div>
    <h3>Perfil de @User.Identity.Name.ToUpper()</h3>    <hr />
    <br />
    <p>Solicitar uma adoção...      <a class="btn btn-outline-dark" asp-area="" asp-controller="Pets" asp-action="Index">Adotar</a></p>
    <br /> <br />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Login">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Pet</th>
            <th scope="col">Dono</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
<tbody>
    @foreach (var item in Model.Adocoes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.Dono)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-controller="Adocoes" asp-action="Edit" asp-route-id="@item.AdocaoId">Edit</a> |
                <a asp-controller="Adocoes" asp-action="Details" asp-route-id="@item.AdocaoId">Details</a> |
                <a asp-controller="Adocoes" asp-action="Delete" asp-route-id="@item.AdocaoId">Delete</a>
            </td>
        </tr>
    }
</tbody>
</table>