@model IEnumerable<app_adocao.Models.Requerente>

@{
    ViewData["Title"] = "Index";
}

<h1 class="d-flex justify-content-center align-items-center rounded" style="background: grey;
    color: white;">
    Requerentes Cadastrados
</h1>

<p>
    <div class="rounded  d-flex justify-content-center align-items-center"
         style="background-color: lightgrey; width: 250px; height: 30px;">
    <a asp-action="Create" style="color: darkred">Criar novo requerente</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr style="color: grey;">
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
<!--        <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th> -->
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
<!--        <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td> -->
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Login">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Login">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Login">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<footer>
    <footer>
        <div class="col-md-12 m-4">
            <figure class="figure">
                <img src="https://www.racoesreis.com.br/wordpress/wp-content/uploads/90ae52bf8d401fe023b1df0598ed405d.jpg" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption">Adicione cor em sua vida, adote um Pet.</figcaption>
            </figure>
        </div>
    </footer>
</footer>
