@model IEnumerable<app_adocao.Models.Requerente>

@{
    ViewData["Title"] = "Index";
}

<h1 class="d-flex justify-content-center align-items-center rounded" style="background: grey;
    color: white;">
    Requerentes Cadastrados
</h1>

<p>
    <div class="rounded  d-flex justify-content-center align-items-center"
         style="background-color: lightgrey; width: 250px; height: 30px;">
    <a asp-action="Create" style="color: darkred">Criar novo requerente</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr style="color: grey;">
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
<!--        <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th> -->
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
<!--        <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td> -->
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Login">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Login">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Login">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="container" id="banners-container">
    <div class="carousel slide" id="slider" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://segredosdomundo.r7.com/wp-content/uploads/2021/03/filhotes-de-gato-cuidados-necessarios-para-manter-a-saude-do-seu-pet-1.jpg" alt="Banner 1" class="d-block w-100 img-fluid" />
                <div class="carousel-caption primary-bg-color">
                    <h2>O seu melhor amigo</h2>
                </div>
            </div>

            <div class="carousel-item">
                <img src="https://www.petz.com.br/blog/wp-content/uploads/2021/05/nomes-para-pets-1280x720.jpg" alt="Banner 2" class="d-block w-100 img-fluid" />
                <div class="carousel-caption primary-bg-color">
                    <h2>pode estar</h2>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://img.olhardigital.com.br/wp-content/uploads/2022/01/clonagem-de-pets-capa.jpg" alt="Banner 3" class="d-block w-100 img-fluid" />
                <div class="carousel-caption primary-bg-color">
                    <h2>a um passo de você, cadastre-se</h2>
                </div>
            </div>
        </div>
        <div>
            <button class="carousel-control-prev" type="button" data-bs-target="#slider"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#slider"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
